@{
    ViewData["Title"] = "LightFeather Coding Test";
}

    <div class="text-center">
        <h1 class="display-4">Paul's Coding Test</h1>
        <p>Use the included Postman collection to test Part 1</p>
        <p>Click the Register link to see Part 2</p>
    </div>
